extends layout

block content
  - var count = 0;
  each item in cart
    - count++

  .main
    h1 My shopping Cart
    - var total=0;

      table.table
        thead
          th Name
          th Price
          th Rating
          th Actions
        tbody
          each item in cart
            - total += Number(item.price)

            tr
              td=item.name
              td=item.price
              td
                fieldset(class="rating")
                  if item.rating > 0
                      label(class="full")
                  else
                      label(class="empty")
                  if item.rating > 1
                      label(class="full")
                  else
                      label(class="empty")
                  if item.rating > 2
                      label(class="full")
                  else
                      label(class="empty")
                  if item.rating > 3
                      label(class="full")
                  else
                      label(class="empty")
                  if item.rating > 4
                      label(class="full") 
                  else
                      label(class="empty") 
                                
              td
                a(href="/products/cart/remove/"+item._id, class="btn btn-danger") Remove Item

          tfoot
            tr
              if count == 0
                td <b>Add First Item to Your CART !<b>
              else if count < 3
                td <b>Total</b>
                td Add atleast three items to see total <small style="font-size: 8px"><br>(as per reqirement)</small>
              else
                td <b>Total</b>
                td=total
        