extends layout

block content
  - var count = 0;
  each item in cart
    - count++

  .main
    h1 My shopping Cart
    - var total=0;

      table.table
        thead
          th Name
          th Price
          th Rating
          th Actions
        tbody
          each item in cart
            - total += Number(item.price)

            tr
              td=item.name
              td=item.price
              td
                if item.rating > 0
                    span(class="fa fa-star checked")
                else 
                    span(class="fa fa-star ")
                if item.rating > 1
                    span(class="fa fa-star checked")
                else 
                    span(class="fa fa-star")
                if item.rating > 2
                    span(class="fa fa-star checked")
                else 
                    span(class="fa fa-star")
                if item.rating > 3
                    span(class="fa fa-star checked")
                else 
                    span(class="fa fa-star")
                if item.rating > 4
                    span(class="fa fa-star checked")
                else 
                    span(class="fa fa-star")
                                
              td
                a(href="/products/cart/remove/"+item._id, class="btn btn-danger") Remove Item

          tfoot
            tr
              if count == 0
                td <b>Add First Item to Your CART !<b>
              else if count < 3
                td <b>Total</b>
                td Add atleast three items to see total <small style="font-size: 8px">(as per reqirement)</small>
              else
                td <b>Total</b>
                td=total
        