body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  padding: 20px;
  width: 100%;
  background-color: #e27d60 !important;
}

.nav-item > a {
  color: white;
  margin-right: 30px;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 3em;
}

.heading {
  margin: 80px;
}

.main {
  margin: 80px;
}

.btn {
  padding: 0.3em 1.3em;
  background-color: #e27d60 !important;
  color: white !important;
  margin-right: 10px;
  border: none !important;
  font-size: 0.9em;
}

.checked {
  color: yellowgreen;
}

.form-group {
  padding: 1em;
  font-size: 1rem;
}

h1 {
  font-size: 2em;
  margin-bottom: 2em;
}

.btn-info {
  background-color: yellowgreen !important;
  color: black !important;
}

.btn-danger {
  background-color: #cc0f0f !important;
  color: white !important;
}

table th {
  background-color: #e27d60;
  color: white;
}

@media (max-width: 992px) {
  .nav-item {
    margin-top: 20px !important;
  }
}
/* 
table td:last-child,
th:last-child {
  width: 50%;
  text-align: right;
}

table th:last-child {
  padding-right: 2.5em;
} */
